/* General */

html {
  height: 100%;
  overflow-y: hidden;
}

body {
  height: 100%;
  display: flex;
  /* Scrollar support for Firefox */
  overflow-y: hidden;
  scrollbar-color: #f90 #333;
}

h1,h2,h3,h4,h5,label,input,button,select,option,p,textarea {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
}

.eos-icons{
  cursor: pointer;
}

/* Scroll Bar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #333;
}

::-webkit-scrollbar-thumb {
  background: #f90;
}

/* Modal */

.modal-box {
  display: block;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  padding-top: 200px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  background-color: #1b1b1b;
  width: 80%;
  margin: auto;
  position: relative;
  padding: 16px 32px;
  border: 1px solid #333;
}

.modal-buttons {
  position: absolute;
  bottom: 16px;
  right: 32px;
} 

.modal-button {
  background-color: #f90;
  color: rgb(0, 0, 0.9);
  border: 0;
  border-radius: 4px;
  font-size: 18px;
}

.modal-button:hover{
  background-color: #ffa31a;
  cursor: pointer;
}

.fab {
  z-index: 1;
  position: absolute;
  bottom: 32px;
  right: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  width: 64px;
  background-color: #f90;
  border-radius: 50%;
}

.fab:hover {
  background-color:#ffa31a;
}

/* App Bar */
.app-bar {
  background-color: #1b1b1b;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #333;
}

.app-bar-path {
  align-items: center;
  display: flex;
  flex-direction: row;
  background-color: rgb(0, 0, 0,9);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.button-path {
  line-height: 32px;
  display: flex;
  align-items: center;
  box-shadow: none;
  border: none;
  background-color: transparent;
  color: white;
  outline: none;
  font-weight: bold;
}

.button-path span {
  width: 5rem;
  margin-left: 4px;
}

.button-path:hover {
  color: #ffa31a;
  cursor: pointer;
}

.app-bar-user-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.app-bar-user-info button {
  line-height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: none;
  border: none;
  background-color: rgb(0, 0, 0.9);
  color: white;
  outline: none;
}

.app-bar-user-info button:hover {
  color: #f8c82a;
  cursor: pointer;
}

/* Login Page */

.form-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form-group .input-group {
  width: 90%;
  display: flex;
}

.input-group input[type=text] {
  flex-grow: 10;
}

.login-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0.9);
}

.login-group-element{
  width: 300px;
  height: 40px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.login-group input{
  border: 1px solid #ffffff;
  background-color: rgb(0, 0, 0.9);
  color: #ffffff;
}

.login-group button{
  color: #1b1b1b;
  background-color: #f90;
  border-radius: 6px;
  border: 0;
  font-size: 16px;
  font-weight: bolder;
}

.login-group button:hover{
  background-color: #ffa31a;
}

/* Main div */
.main-content-div {
  background-color: #1b1b1b;
}

/* Project */
.project {
  color: #ffffff;
  font-weight: bolder;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 64px;
  margin: 8px;
  padding-left: 18px;
  border-radius: 8px;
  border: 1px solid #333;
}

.project h3{
  color: #ffffff;
}

.project:hover {
  background-color: rgb(0,0, 0.9);
  cursor: pointer;
}

.project:hover h3{
  color:  #ffa31a;
}

.type-project-selector {
  background-color: #f90;
  color:rgb(0, 0, 0.9);
  border:0;
}

.type-project-selector:hover {
  cursor: pointer;
}

.remove-project-button{
  display: flex;
  align-items:center;
  float: right;
  margin-top: 20px;
  margin-right: 8px;
  background-color: #f90;
  color: rgb(0, 0, 0.9);
  border: 0;
  border-radius: 4px;;
}

.remove-project-button:hover{
  cursor: pointer;
  background-color: #ffa31a;
}


.tabs {
  display: flex;
  flex-direction: column;
  border: 1px solid #333;
  float: left;
  background-color: #1b1b1b;
  width: 20%;
  overflow-y: hidden;
  /* height: 100%; */
}

.tablink {
  background-color: inherit;
  color: #ffffff;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 18px;
}

.tablink:hover {
  background-color: rgb(0, 0, 0.9);
}

.tabcontent { 
  width: 80%;
  /* flex: 1; */
  /* height: 100%; */
  flex-direction: column;
  float: left;
  overflow-y: auto;
  border: 1px solid #333;
  border-left: none;
}

.tags-list {
  flex-direction: row;
  align-items: center;
  min-height: 64px;
  margin: 8px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #333;
}

.tags-list h3{
  color: #ffffff;
}

.tags-list:hover {
  background-color: rgb(0, 0, 0.9);
}

.records-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 64px;
  margin: 8px;
  padding-left: 10px;
  border-radius: 8px;
  border: 1px solid #333;
}

.records-list h3{
  color: #ffffff;
}

.records-list:hover {
  background-color: rgb(0, 0, 0.9);
  cursor: pointer;
}

.remove-tags-project{
  position: absolute;
  right: 16px;
  border: 0;
  background-color: #f90;
  color: rgb(0, 0, 0.9);
  border-radius: 4px;
}

.remove-tags-project:hover{
  background-color: #ffa31a;
}

.project-tags-val {
  display: flex;
  align-items: center;
  border-radius: 80px;
  margin-right: 8px;
  padding: 4px 8px;
  border: 1px solid black;
  background-color: #ffa31a;
  color: rgb(0, 0, 0.9)
}

.project-tags-val:hover{
  cursor: default;
}

#add-tag-value-project:hover{
  background-color: #f90;
}

.records-tags-val {
  margin: 8px;
  border-radius: 80px;
  padding: 4px;
  border: 1px solid black;
  background-color: #ffa31a;
  color: rgb(0, 0, 0.9);
}

.records-tags-val:hover {
  cursor: default;
}

.modify-input-button{
  margin-left: 32px;
  background-color: #f90;
  color: rgb(0, 0, 0.9);
  border: 0;
  border-radius: 4px;
}

.modify-input-button:hover{
  cursor: pointer;
  background-color: #ffa31a;
}

.input-modifier{
  background-color: #1b1b1b;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.remove-record-button{
  display: flex;
  align-items: center;
  float: right;
  /* margin-top: 20px; */
  /* margin-right: 8px; */
  background-color: #f90;
  color: rgb(0, 0, 0.9);
  border: 0;
  border-radius: 4px;;
}

.remove-record-button:hover{
  cursor: pointer;
  background-color: #ffa31a;
}

.tag-record {
  align-items: center;
  margin: 16px;
  border-radius: 8px;
  border: 1px solid #333; 
  color: #ffffff;
  font-weight: bolder;
}

.remove-tags-records{
  background-color: #f90;
  color: rgb(0, 0, 0.9);
  border: 0;
  border-radius: 4px;
}

.select-tag-value-record{
  margin-left: 16px;
  background-color: #f90;
  color:rgb(0, 0, 0.9);
  border:0;
}

.select-tag-value-record:hover{
  cursor: pointer;
}

.new-record-tag-selector{
  background-color: #f90;
  color:rgb(0, 0, 0.9);
  border:0;
}

.new-record-tag-selector:hover{
  cursor: pointer;
}

.new-record-tag-value-selector{
  background-color: #f90;
  color:rgb(0, 0, 0.9);
  border:0;
  margin-left: 8px;
}

.new-record-tag-value-selector:hover{
  cursor: pointer;
}

.add-tag-record{
  position: relative;
  align-items: center;
  min-height: 38px;
  margin: 6px;
  padding-left: 18px;
  border-radius: 8px;
  border: 1px solid black; 
  width: 42%;
}

.add-tag-record:hover{
  background-color: rgb(0, 0, 0.9);
  cursor: pointer;
}

.events-list {
  display: flex;
  flex-direction: row;
  margin: 8px;
  padding: 0px 8px;
  border-radius: 8px;
  border: 1px solid #333;
}

.events-list span {
  color: #f90
}

.events-list h3 {
  color: #ffffff;
}