/* General */
@import url(//db.onlinewebfonts.com/c/6228016f2b172c06410f3a2356d33f6c?family=Roobert-Regular);

@font-face {
  font-family: "Roobert-Regular";
  src: url("//db.onlinewebfonts.com/t/6228016f2b172c06410f3a2356d33f6c.eot"); src: url("//db.onlinewebfonts.com/t/6228016f2b172c06410f3a2356d33f6c.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/6228016f2b172c06410f3a2356d33f6c.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/6228016f2b172c06410f3a2356d33f6c.woff") format("woff"), url("//db.onlinewebfonts.com/t/6228016f2b172c06410f3a2356d33f6c.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/6228016f2b172c06410f3a2356d33f6c.svg#Roobert-Regular") format("svg");
}

:root {
  --primary: #9146ff;
  --primary-accent: #8205b4;
  --white: #ffffff;
  --black: #1b1b1b;
  --gray: #333;
  --red: #fa2828;
  --yellow: #fafa19;
  --green: #00fa05;
}

html {
  height: 100%;
  overflow-y: hidden;
}

body {
  height: 100%;
  display: flex;
  /* Scrollar support for Firefox */
  overflow-y: hidden;
  scrollbar-color: var(--primary) var(--gray);
}

h1,h2,h3,h4,h5,label,input,button,select,option,p,textarea {
  color: var(--white);
  font-family: 'Roobert-Regular', Arial, sans-serif;
}

.eos-icons{
  cursor: pointer;
}

/* Scroll Bar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--gray);
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
}

/* Modal */

.modal-box {
  display: block;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  padding-top: 200px;
  width: 100%;
  height: 100%;
  background-color: var(--black);
}

.modal-content {
  background-color: var(--black);
  width: 80%;
  margin: auto;
  position: relative;
  padding: 16px 32px;
  border: 1px solid var(--gray);
}

.modal-buttons {
  position: absolute;
  bottom: 16px;
  right: 32px;
} 

.modal-button {
  background-color: var(--primary);
  color: var(--black);
  border: 0;
  border-radius: 4px;
  font-size: 18px;
}

.modal-button:hover{
  background-color: var(--primary-accent);
  cursor: pointer;
}

.fab {
  z-index: 1;
  position: absolute;
  bottom: 32px;
  right: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  width: 64px;
  background-color: var(--primary);
  border-radius: 50%;
}

.fab:hover {
  background-color:var(--primary-accent);
}

/* App Bar */
.app-bar {
  background-color: var(--black);
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid var(--gray);
}

.app-bar-path {
  align-items: center;
  display: flex;
  flex-direction: row;
  background-color: var(--black);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.button-path {
  line-height: 32px;
  display: flex;
  align-items: center;
  box-shadow: none;
  border: none;
  background-color: transparent;
  color: var(--white);
  outline: none;
  font-weight: bold;
}

.button-path span {
  width: 5rem;
  margin-left: 4px;
}

.button-path:hover {
  color: var(--primary);
  cursor: pointer;
}

.app-bar-user-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.app-bar-user-info button {
  line-height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: none;
  border: none;
  background-color: var(--black);
  color: var(--white);
  outline: none;
}

.app-bar-user-info button:hover {
  color: var(--primary);
  cursor: pointer;
}

/* Login Page */

.form-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form-group .input-group {
  width: 90%;
  display: flex;
}

.input-group input[type=text] {
  flex-grow: 10;
}

.login-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
}

.login-group-element{
  width: 300px;
  height: 40px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.login-group input{
  border: 1px solid var(--white);
  background-color: var(--black);
  color: var(--white);
}

.login-group button{
  color: var(--black);
  background-color: var(--primary);
  border-radius: 6px;
  border: 0;
  font-size: 16px;
  font-weight: bolder;
}

.login-group button:hover{
  background-color: var(--primary-accent);
}

/* Main div */
.main-content-div {
  background-color: var(--black);
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

/* Project */
.project {
  font-weight: bolder;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 64px;
  margin: 8px;
  padding-left: 18px;
  border-radius: 8px;
  border: 1px solid var(--gray);
}

.project h3{
  color: var(--white);
}

.project:hover {
  cursor: pointer;
}

.project:hover h3{
  color: var(--primary);
}

.type-project-selector {
  background-color: var(--primary);
  color:var(--black);
  border:0;
}

.type-project-selector:hover {
  cursor: pointer;
}

.remove-project-button{
  display: flex;
  align-items:center;
  float: right;
  margin-top: 20px;
  margin-right: 8px;
  background-color: var(--primary);
  color: var(--black);
  border: 0;
  border-radius: 4px;;
}

.remove-project-button:hover{
  cursor: pointer;
  background-color: var(--primary-accent);
}

.tabs {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--gray);
  float: left;
  background-color: var(--black);
  width: 20%;
  overflow-y: hidden;
  /* height: 100%; */
}

.tablink {
  background-color: inherit;
  color: var(--white);
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 18px;
}

.tablink:hover {
  background-color: var(--black);
}

.tabcontent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid var(--gray);
  border-left: none;
}

.tags-list {
  flex-direction: row;
  align-items: center;
  min-height: 64px;
  margin: 8px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid var(--gray);
}

.tags-list:hover {
  background-color: var(--black);
}

.records-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 64px;
  margin: 8px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid var(--gray);
}

.records-list h3{
  color: var(--white);
}

.records-list:hover {
  background-color: var(--black);
  cursor: pointer;
}

.remove-tags-project{
  position: absolute;
  display: inline;
  right: 16px;
  border: 0;
  background-color: var(--primary);
  color: var(--black);
  border-radius: 4px;
}

.remove-tags-project:hover{
  background-color: var(--primary-accent);
}

.project-tags-val {
  display: flex;
  align-items: center;
  border-radius: 80px;
  margin-right: 8px;
  padding: 4px 8px;
  border: 1px solid var(--black);
  background-color: var(--primary);
  color: var(--black)
}

.project-tags-val:hover{
  cursor: default;
}

.project-tags-val:hover{
  background-color: var(--primary-accent);
}

.status-list{
  flex-direction: row;
	display: flex;
  border: 1px solid var(--gray);
  align-items: center;
  min-height: 64px;
  margin: 8px;
  padding-left: 8px;
  border-radius: 8px;
}

.records-tags-val {
  margin: 8px;
  border-radius: 80px;
  padding: 4px;
  border: 1px solid var(--black);
  background-color: var(--primary);
  color: var(--black);
}

.records-tags-val:hover {
  cursor: default;
}

.modify-input-button{
  margin-left: 32px;
  background-color: var(--primary);
  color: var(--black);
  border: 0;
  border-radius: 4px;
}

.modify-input-button:hover{
  cursor: pointer;
  background-color: var(--primary-accent);
}

.input-modifier{
  background-color: var(--black);
  border: 1px solid var(--white);
  color: var(--white);
}

.remove-record-button{
  display: flex;
  align-items: center;
  float: right;
  background-color: var(--primary);
  color: var(--black);
  border: 0;
  border-radius: 4px;;
}

.remove-record-button:hover{
  cursor: pointer;
  background-color: var(--primary-accent);
}

.tag-record {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 8px;
  margin: 8px;
  border-radius: 8px;
  border: 1px solid var(--gray); 
  color: var(--white);
  font-weight: bolder;
}

.remove-tags-records{
  background-color: var(--primary);
  color: var(--black);
  border: 0;
  border-radius: 4px;
}

.select-tag-value-record{
  margin-left: 16px;
  background-color: var(--primary);
  color:var(--black);
  border:0;
}

.select-tag-value-record:hover{
  cursor: pointer;
}

.new-record-tag-selector{
  background-color: var(--primary);
  color:var(--black);
  border:0;
}

.new-record-tag-selector:hover{
  cursor: pointer;
}

.new-record-input {
  color: var(--white);
  background-color: var(--black);
  border: 1px solid var(--white);
}

.new-record-tag-value-selector{
  background-color: var(--primary);
  color:var(--black);
  border:0;
  margin-left: 8px;
}

.new-record-tag-value-selector:hover{
  cursor: pointer;
}

.add-tag-record{
  position: relative;
  align-items: center;
  min-height: 38px;
  margin: 6px;
  padding-left: 18px;
  border-radius: 8px;
  border: 1px solid black; 
  width: 42%;
}

.add-tag-record:hover{
  background-color: var(--black);
  cursor: pointer;
}

.events-list {
  display: flex;
  flex-direction: row;
  margin: 8px;
  padding: 0px 8px;
  border-radius: 8px;
  border: 1px solid var(--gray);
}

.events-list span {
  color: var(--primary)
}

.events-list h3 {
  color: var(--white);
}